*.plx linguist-language=Python
*.etc linguist-language=Python
*.plx.m4 linguist-language=Python
*.i linguist-language=Python
libcom/* linguist-vendored
libcom/** linguist-vendored
libstd/* linguist-vendored
libstd/** linguist-vendored
test/tests/** linguist-vendored
